<div class="header">
  <h3>司法院量型資訊系統</h3>
  <div class="header-option">
    <button>即時統計結果</button>
    <button>首頁</button>
  </div>
</div>

<div class="container">
  <div class="content">
    <h4>■槍砲彈藥案件常見法定加重事由</h4>

    <div class="option-container">
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>刑法第47條第1項(累犯)</label>
      <br>
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>其他法定加重條文</label><br>
    </div>
  </div>

  <div class="content" style="margin-left: 30px;">
    <div class="info-header">
      <h4>■基本資訊</h4>
      <div class="text-link">
        (使用說明)
      </div>
    </div>
    <div class="text-container">
      槍砲彈藥刀械管制條例第8條第1項(製造、販賣貨運輸輕型槍械罪)
      <br>
      判決日期：民國107年2月到民國109年2月
      <br>
      資料類型：全國地方法院一人一罪判決
    </div>
  </div>
</div>


<div class="container-2">
  <div class="left-container">
    <h4>■槍砲彈藥案件常見法定減輕事由</h4>

    <div class="option-container">
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>刑法第59條(情堪憫恕)</label>
      <br>
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>刑法第62條(自首)</label>
      <br>
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>槍砲彈藥刀械管制條例第8條第6項(空氣槍)</label>
      <br>
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>槍砲彈藥刀械管制條例第18條第1項(自首並據實供述而查獲)</label>
      <br>
      <input type="radio">適用
      <input type="radio">暫不考慮
      <label>槍砲彈藥刀械管制條例第18條第4項前段(自白並供述來源去向，防止重大危害)</label>
      <br>
      <br>
      <label>其他較少出現的法定減輕條文</label>
    </div>
  </div>

  <div class="right-container">
    <h4>■主文搜尋</h4>
    <input class="text-input" type="text" placeholder="限一組關鍵字，如製造、販賣、持有、累犯、緩刑等">



  <h4>■刑法第57條之量刑審酌事項</h4>
  <div class="option-container">
    <div class="content-option" style="margin: 10px;">

      <div class="content-option-name-container">
        <br>
        <div class="content-option-name">犯罪後之態度</div>
        <div class="content-option-name">犯罪所生之危險或損害</div>
        <div class="content-option-name">犯罪行為人之品行</div>
        <div class="content-option-name">其他審酌事項</div>
      </div>

      <div class="content-input-name">
        暫不考慮
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
      </div>
      <div class="content-input-name">
        對被告有利
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
      </div>
      <div class="content-input-name">
        中性或不明確
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
      </div>
      <div class="content-input-name">
        對被告不利
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
        <input class="content-radio-input" type="radio">
      </div>
    </div>
  </div>
</div>
</div>


<div class="button-container">
<button>重新整理</button>
<label>
<button>進階查詢</button>
<span>(建議查詢數量少於100篇以節省等候時間)</span>
</label>
</div>
